/* You can add global styles to this file, and also import other style files */

app-racine {
  width: 100vw;
}

app-user-kitten {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

app-list-kitten {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
}
app-create-kitten {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw;
  border: solid grey;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
input#birthday.ng-pristine {
  border-left: 5px solid #a94442;
}

.onsubmit {
  border: none;
  background-color: grey;
  color: white;
}

/* app-racine {
  display: flex;
  justify-content: space-around;
  height: 100vh;
} */
h3 {
  text-align: center;
  color: #a94442;
  font-size: x-large;
}
